
body {

    background-color: hsl(0, 0%, 98%);
}

.search-filter {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}


.countryCards {
    
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;


}