
.countryData {
    
    
    margin: 20px 0px;
    margin-right: 60px;
    background-color: #ffffff;
    width: 220px;
    height: 280px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.1);

}

.countryData button {

    background: none;
    border: none;
    padding: 0;
}

.flag img {

    margin-top: 0;
    width: 100%;
    height: 130px;
    border-radius: 4px;

}

.flag {

    width: 100%;
    height: 120px;
}

.countryText {

    
    width: 220px;
    margin: auto 0px;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    

}

.countryName {
    font-weight: 800;
    margin-bottom: 20px;
}

.countryPopulation, .countryRegion, .countryCapital {
    
    font-size: 12px;
    margin: 3px 0px;
}


.dataTitle {
    font-weight: 800;
}


.countryData-dark {
    
    
    margin: 20px 0px;
    margin-right: 60px;
    width: 220px;
    height: 280px; 
    background-color: hsl(209, 23%, 22%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.1);

}

.countryData-dark button {

    border: none;
    padding: 0;
    background-color: hsl(209, 23%, 22%);

}


.countryText-dark {

    
    width: 220px;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    color: hsl(0, 0%, 100%);

}

.countryName {
    font-weight: 800;
    margin-bottom: 20px;
}

.countryPopulation, .countryRegion, .countryCapital {
    
    font-size: 12px;
    margin: 3px 0px;
}


.dataTitle {
    font-weight: 800;
}


@media (min-width:320px) and (max-width:768px) {

    .countryData {
    
    
        margin: 20px 0px;
        margin-right: 0px;
           
    }

    .countryData-dark {

        margin: 20px 0px;
        margin-right: 0px;
     }
}